html, body {
  height: 100%;
}

body {

  /* Enlèvement de la marge */
  margin: 0;

  /* Désactivation du défilement */
  overflow: hidden;

}

canvas {
  background-color: red;
}

@font-face {
  font-family: 'Share Tech Mono';
  src: url(../ressources/polices/ShareTechMono-Regular.woff2);
}